<!doctype html>
<html lang="ko">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>웹 정산 시스템</title>
  <link rel="stylesheet" href="/vendor/angular-material.min.css">
</head>
<body ng-app='myApp' ng-cloak>
  <script type='text/javascript' src="/vendor/angular-1.5.7/angular.min.js"></script>
  <script type='text/javascript' src="/vendor/angular-1.5.7/angular-animate.min.js"></script>
  <script type='text/javascript' src="/vendor/angular-1.5.7/angular-aria.min.js"></script>
  <script type='text/javascript' src="/vendor/angular-1.5.7/angular-messages.min.js"></script>
  <script type='text/javascript' src="/vendor/angular-1.5.7/angular-route.min.js"></script>
  <script type='text/javascript' src="/vendor/angular-material.min.js"></script>
  <script type='text/javascript' src="app.js"></script>
</body>
</html>
