<md-card>
  <md-toolbar class="md-table-toolbar md-default" ng-hide="$ctrl.selected.length">
    <div class="md-toolbar-tools">
      <span>기타추가 옵션</span>
      <span flex></span>
      <md-button class="md-raised"
                 ng-click="$ctrl.addItem($event);"
                 aria-label="Add Item">추가
      </md-button>
    </div>
  </md-toolbar>

  <md-toolbar class="md-table-toolbar alternate" ng-show="$ctrl.selected.length">
    <div class="md-toolbar-tools">
      <span>{{$ctrl.selected.length}}개 선택</span>
      <span flex></span>
      <md-button class="md-raised"
                 ng-click="$ctrl.editItem();"
                 aria-label="Edit Item">수정
      </md-button>
      <md-button class="md-raised"
                 ng-click="$ctrl.removeItem();"
                 aria-label="Remove Item">삭제
      </md-button>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table md-row-select multiple ng-model="$ctrl.selected">
      <thead md-head>
        <tr md-row>
          <th md-column><span>옵션명</span></th>
          <th md-column><span>판매가<br>(만원)</span></th>
          <th md-column><span>구매가<br>(만원)</span></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in $ctrl.optOther">
          <td md-cell>{{item.name}}</td>
          <td md-cell>{{item.sell}}</td>
          <td md-cell>{{item.buy}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</md-card>
