html, body {
	font-size: 12px;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/**********
 Side nav
***********/
md-sidenav {
	background-color: rgb(255,255,255) !important;
	width: 270px;
}
/*
.menu {
	background-color: transparent;
	border: none;
	margin: 0;
}
*/
md-list-item > button {
	width: 100%;
	text-align: left !important;
}
.md-button.selected {
	color: #03a9f4;
}

/**********
 Top toolbar
***********/
.site-content-toolbar {
	background: #f6f6f6 !important;
	color: #202020 !important;
	z-index: 3;
}

.md-toolbar-tools .md-button md-icon {
	color: #666 !important;
	fill: #666 !important;
}

/**********
 contents
***********/
.site-content-box {
	/*
	padding: 5px 40px 0 40px;
	*/
}
.setting-tool-box {
	font-size: 16px;
	height: 45px;
	max-height: 45px;
}

md-input-container {
	min-width: 120px !important;
}

.package-dialog md-input-container {
	margin: 5px 0;
}
