html, body {
	font-size: 12px;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
/**********
 Side nav
***********/
md-sidenav {
	background-color: rgb(255,255,255) !important;
	width: 270px;
}
md-list-item > button {
	width: 100%;
	text-align: left !important;
}
.md-button.selected {
	color: #03a9f4;
}
/**********
 Top toolbar
***********/
.site-content-toolbar {
	background: #f6f6f6 !important;
	color: #202020 !important;
	z-index: 3;
}
.md-toolbar-tools .md-button md-icon {
	color: #666 !important;
	fill: #666 !important;
}
/**********
 contents
***********/
.setting-tool-box {
	font-size: 16px;
	height: 45px;
	max-height: 45px;
}
/*
md-input-container {
	min-width: 120px !important;
}
*/
.package-dialog md-input-container {
	margin: 5px 0;
}
/**************
 예약서항목설정
***************/
table.md-table.md-row-select td.md-cell:first-child, table.md-table.md-row-select th.md-column:first-child {
	padding: 0 0 0 12px;
}
md-checkbox .md-container {
	width: 15px;
	height: 15px;
}
md-checkbox .md-icon {
	width: 15px;
	height: 15px;
}
table.md-table thead.md-head>tr.md-row {
	height: 40px;
}

/*************
 reserv-create
**************/
.doc-content {
	margin: 16px;
	padding: 0;
}
.doc-content .md-subheader .md-subheader-inner {
	padding: 0;
}
.doc-content md-input-container {
	margin-top: 0px;
	min-width: 120px !important;
}
.reserv-save {
	position: fixed;
	bottom: 5%;
	right: 5%;
}
/*************
 reserv-list
**************/
.reserv-list .md-toolbar-tools {
	padding-top: 20px;
}
.reserv-list .md-input-container {
	margin: 0px;
	padding: 0px;
}
.reserv-list md-input-container {
	width: 150px !important;
}
.reserv-list input {
	color: white;
}
.reserv-list input::-webkit-input-placeholder {
	color: white;
}
/*************
 reserv-view
**************/
.reserv-view md-card-title {
	padding: 0px 10px 10px 10px;
}
.reserv-view-img {
	padding: 0 20px;
}
.reserv-view-consult md-icon {
	cursor: pointer;
}
.reserv-view-consult .consult-form{
	padding-top: 20px;
}
.reserv-view-consult md-input-container,
.reserv-view-consult input {
	width: 100%;
}
/*************
 account-create
**************/
.account-create-header {
	text-align: center;
}
.account-create-header .next > md-icon {
		transform: rotate(180deg);
}
.account-create-middle {
	padding: 20px 0;
	text-align: center;
}
.account-create-body {
	background-color: #0C2238;
	color: white;
}

/******** Media Query *************/
/*************
 reserv-view
**************/
@media screen and (min-width: 1024px) {
	.reserv-view-img {
		width: 50%;
	}
}
