<div layout-padding ng-clock>
  <div class="md-whiteframe-z1 account-create-header">
    <h2>
      <md-button class="md-icon-button" ng-click="$ctrl.changePrevDate()" aria-label="Prev">
        <md-icon md-svg-icon="md-tabs-arrow" aria-hidden="true"></md-icon>
      </md-button>
			{{::$ctrl.period}}
      <md-button class="md-icon-button next" ng-click="$ctrl.changeNextDate()" aria-label="Next">
        <md-icon md-svg-icon="md-tabs-arrow" aria-hidden="true"></md-icon>
      </md-button>
    </h2>
  </div>
  <div class="md-whiteframe-z1">
    <!--
    <md-tabs md-dynamic-height md-border-bottom>
    -->
    <div style="text-align:center;">
      <h2>주간 예약서 목록</h2>
    </div>
    <md-tabs md-border-bottom>
      <md-tab label="{{item.day}}{{item.babyName}}" ng-repeat="item in $ctrl.list">
        <md-content class="md-padding">
          <p>
  					* 행사장소 : <span ng-show="item.decoLoc2">{{item.decoLoc2}}</span>
  					<span ng-hide="item.decoLoc2">{{item.decoLoc}}</span><br/>
          </p>
          <p>* 행사일 : {{item.day}}</p>
          <p>* 아가이름 : {{item.babyName}}</p>
          <p>* 연락처 : {{item.phoneNum}}<br/>
          <p>* 장식명 : {{item.decoType}}</p>
          <p>* 컨셉명 : {{item.decoName}}</p>
          <p>* 포토테이블 : {{item.decoPhoto}}</p>
          <p>* 과일 : {{item.decoFruit}}</p>
          <p>* 떡 : {{item.decoRcake}}</p>
          <p>* 돌복 : {{item.optDress}}</p>
          <p>* 사회 : {{item.optMC}}</p>
          <p>* 성장동영상 : {{item.optMovie}}</p>
          <p>* 스냅 : {{item.optSnap}}</p>
					<p>* 기타추가옵션 : {{item.optOther}}</p>
					<p>* 출장비 : {{item.optOutgoingFee}}</p>
          <p>* 예약금 : {{item.deposit}}</p>
          <p>* 잔금 : {{item.balance}}</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </div>
  <div class='account-create-middle'>
    <md-button class="md-raised md-warn">정산내역 산출하기</md-button>
  </div>
  <div class='account-create-body'>
    <div style="text-align: center;">
      <h2>정산내역</h2>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>
<md-button class="md-fab md-primary reserv-save" aria-label="save" ng-click="$ctrl.save()">
  <md-tooltip md-direction="top">주간 정산내역 확정</md-tooltip>
  <md-icon md-svg-src="img/svg/ic_done_white_24px.svg"></md-icon>
</md-button>
