<div layout-padding ng-clock>
  <div class="md-whiteframe-z1 account-create-header">
    <h2>
      <md-button class="md-icon-button" ng-click="$ctrl.changePrevDate()" aria-label="Prev">
        <md-icon md-svg-icon="md-tabs-arrow" aria-hidden="true"></md-icon>
      </md-button>
			{{::$ctrl.account.period}}
      <md-button class="md-icon-button next" ng-click="$ctrl.changeNextDate()" aria-label="Next">
        <md-icon md-svg-icon="md-tabs-arrow" aria-hidden="true"></md-icon>
      </md-button>
    </h2>
  </div>
  <div class="md-whiteframe-z1">
    <div style="text-align:center;">
      <h2>주간 예약서 목록</h2>
    </div>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="({{item.status}}){{item.day}}{{item.babyName}}" ng-repeat="item in $ctrl.tabList">
        <md-content class="md-padding">
          <p>
						<span>* 행사정보 : </span>
  					<span ng-show="item.decoLoc2">{{item.decoLoc2}}</span>
  					<span ng-hide="item.decoLoc2">{{item.decoLoc}}</span>
						<span>, {{item.day}}</span>
						<span>, {{item.babyName}}</span>
						<span>, {{item.phoneNum}}</span>
					</p>
          <p>
						<span>* 장식정보 : {{item.decoType}}</span>
						<span>, {{item.decoName}}</span>
						<span>, {{item.decoPhoto}}</span>
					</p>
          <p>
						<span>* 과일/떡/돌복 : {{item.decoFruit.toString()}}</span>
						<span>/ {{item.decoRcake.toString()}}</span>
						<span>/ {{item.optDress.toString()}}</span>
					</p>
          <p>
						<span>* 사회/성장동영상 : {{item.optMC.toString()}}</span>
						<span>/ {{item.optMovie}}</span>
					</p>
					<p ng-if='item.optOther.length > 0'>* 기타추가옵션 : {{item.optOther.toString()}}</p>
					<p ng-if='item.optOutgoingFee > 0'>* 출장비 : {{item.optOutgoingFee}}</p>
          <p>* 예약금/잔금 : {{item.deposit}} / {{item.balance}}</p>
					<!--
					<p>{{item.priceList}}</p>
					-->
        </md-content>
      </md-tab>
    </md-tabs>
  </div>
  <div class='account-create-middle'>
    <md-button ng-click="$ctrl.calc()" class="md-raised md-warn">정산내역 산출하기</md-button>
  </div>
  <div ng-if="$ctrl.account.expenseList.length > 0" class='account-create-body'>
    <div style="text-align: center;">
      <h2>정산내역</h2>
    </div>
		<div layout-gt-xs="row">
			<div flex-gt-xs="25" layout-padding>
				<table>
					<tr>
						<th colspan="2">매출내역</th>
					</tr>
					<tr ng-repeat="item in $ctrl.account.revenueList">
						<td>{{item.groupName}}</td>
						<td>{{item.totalPrice}}</td>
					</tr>
					<tr>
						<td>총매출</td>
						<td>{{$ctrl.account.revenueTotal}}</td>
					<tr>
				</table>
			</div>
			<div flex-gt-xs="25" layout-padding>
				<table>
					<tr>
						<th colspan="2">수익내역</th>
					</tr>
					<tr ng-repeat="item in $ctrl.account.incomeList">
						<td>{{item.groupName}}</td>
						<td>{{item.totalPrice}}</td>
					</tr>
					<tr>
						<td>총매출</td>
						<td>{{$ctrl.account.incomeTotal}}</td>
					<tr>
				</table>
			</div>
			<div flex-gt-xs layout-padding>
				<table>
					<tr>
						<th colspan="3">지출내역</th>
					</tr>
					<tbody ng-repeat="el in $ctrl.account.expenseList">
						<tr ng-if="el.detailPrint" ng-repeat="item in el.itemList">
							<td ng-if="$first" rowspan="{{el.itemList.length}}">{{el.groupName}}</td>
							<td>{{item.name}}</td>
							<td>{{item.price}}</td>
						</tr>
						<tr ng-if="!el.detailPrint">
							<td>{{el.groupName}}</td>
							<td></td>
							<td>{{el.totalPrice}}</td>
						</tr>
					</tbody>
					<tr>
						<td>총지출</td>
						<td></td>
						<td>{{$ctrl.account.expenseTotal}}</td>
					<tr>
				</table>
			</div>
		</div>
  </div>
  <div ng-if="$ctrl.account.expenseList.length > 0" class='account-create-footer'>
		<h2>추가지출항목</h2>
		<div layout-padding>
			<table>
				<tr>
					<th>항목명</th>
					<th>금액(만원)</th>
					<th>수정/삭제</th>
				</tr>
				<tr ng-repeat="item in $ctrl.account.addedExpenseList">
					<td>{{item.itemName}}</td>
					<td>{{item.itemPrice}}</td>
					<td>
						<md-icon md-svg-icon="/img/svg/ic_create_black_24px.svg" ng-click="$ctrl.clickedUpdate($index)" aria-label="수정" style="margin-right:10px;"></md-icon>
						<md-icon md-svg-icon="/img/svg/ic_delete_black_24px.svg" ng-click="$ctrl.deleteExpenseItem($index)" aria-label="삭제"></md-icon>
					</td>
				</tr>
			</table>
		</div>
		<div layout="row">
			<div layout="row" layout-padding>
				<md-input-container class="md-block">
					<label>항목명</label>
					<input name="addItem" ng-model="$ctrl.addItem">
				</md-input-container>
				<md-input-container class="md-block">
					<label>금액(만원)</label>
					<input name="addPrice" ng-model="$ctrl.addPrice">
				</md-input-container>
			</div>
			<div style="margin-top: 20px">
					<md-button ng-hide="$ctrl.updateIndex > -1" ng-click="$ctrl.addExpenseItem()" class="md-raised md-warn">추가</md-button>
					<md-button ng-show="$ctrl.updateIndex > -1" ng-click="$ctrl.updateExpenseItem()" class="md-raised md-warn">수정</md-button>
			</div>
		</div>
	</div>
</div>
<md-button class="md-fab md-primary account-save" aria-label="save" ng-click="$ctrl.save()">
  <md-tooltip md-direction="top">주간 정산내역 확정</md-tooltip>
  <md-icon md-svg-src="img/svg/ic_done_white_24px.svg"></md-icon>
</md-button>
