<div layout="row" layout-padding class='reserv-list'>
	<div flex class="md-whiteframe-z1">
		<h1>{{$ctrl.year}}</h1>
		<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<md-input-container md-no-float class="md-block">
		      <md-icon md-svg-src="img/svg/ic_search_white_18px.svg"></md-icon>
		      <input ng-model="$ctrl.query" type="text" placeholder="검색">
		    </md-input-container>
			</div>
		</md-toolbar>
		<md-content>
			<md-list>
				<md-list-item class="md-3-line" ng-repeat="item in $ctrl.list | filter:$ctrl.query" ng-click="$ctrl.listClicked(item._id)">
					<img ng-src="/img/company-{{item.company}}.png" class="md-avatar" alt="{{item.company}}" />
					<img ng-src="/img/status-{{item.status}}.png" class="md-avatar" alt="{{item.status}}" />
					<div class="md-list-item-text">
						<h3>{{item.decoName}} {{item.day}}</h3>
						<h4>{{item.babyName}} {{item.babyType}}</h4>
						<p ng-show="item.decoLoc2">({{item.decoLoc2}})</p>
						<p ng-hide="item.decoLoc2">({{item.decoLoc}})</p>
					</div>
					<md-divider inset></md-divider>
				</md-list-item>
			</md-list>
		</md-content>
	</div>
</div>
