<div layout='row'>
	<div flex="20">
		<div>
			<md-input-container>
				<label>Search: </label>
				<input ng-model='$ctrl.query' />
			</md-input-container>
		</div>
		<div>
			<md-input-container>
				<label>Sort By: </label>
				<md-select ng-model="$ctrl.orderProp">
					<md-option value="name">Alphabetical</md-option>
					<md-option value="age">Newest</md-option>
				</md-select>
			</md-input-container>
		</div>
	</div>
	<div flex="80">
		<md-card ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
			<md-card-title>
				<md-card-title-media style="margin-right: 20px;">
					<div class="md-media-lg card-media">
						<a href="#/phones/{{phone.id}}">
							<img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
						</a>
					</div>
        </md-card-title-media>
				<md-card-title-text>
					<span class="md-headline">{{phone.name}}</span>
					<span class="md-subhead">{{phone.snippet}}</span>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</div>
</div>
