<md-dialog aria-label="decoLocDialog" ng-cloak>
  <form>
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">협력업체 추가</h2>
      <div layout="column">
        <md-input-container flex="" class="flex">
          <label>행사장소</label>
          <input ng-model="data.name">
        </md-input-container>
        <md-input-container flex="" class="flex">
          <label>협력여부</label>
          <md-select ng-model="data.isCollabor">
            <md-option value=true>예</md-option>
            <md-option value=false>아니오</md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="" class="flex">
          <label>커미션(만원/%)</label>
          <input name="commission" type="number" min="-20" max="20" ng-model="data.commission" class="ng-pristine ng-untouched md-input">
        </md-input-container>
				<md-input-container flex="" class="flex">
					<label>커미션계산법</label>
					<md-select ng-model="data.commCalcRule">
						<md-option value='차감'>단순차감</md-option>
						<md-option value='총판매비'>총판매대비</md-option>
						<md-option value='부가세비'>부가세포함총판매대비</md-option>
					</md-select>
				</md-input-container>
      </div>

      <md-dialog-actions>
        <button class="md-primary md-button md-ink-ripple" type="button" ng-click="addItem()" aria-label="Add Item"><span>저장</span></button>
        <button class="md-primary md-button md-ink-ripple" type="button" ng-click="cancel()" aria-label="Cancel"><span>취소</span></button>
      </md-dialog-actions>
    </md-dialog-content>
  </form>
</md-dialog>
